.beauty{
   margin: 0px auto;
    background-color: rgb(43, 2, 2);
    color: bisque;
}
.lin{
  margin-left: 900px;
padding-left: 5%;

     }
.style{
    margin: 0px auto;
    background-color: rgb(151, 65, 8);
    color: bisque;

}
.education{
    margin: 0px auto;
    background-color: rgb(207, 156, 15);
    color: bisque;

}
.new{
    margin: 0px auto;
    background-color: rgb(207, 156, 15);
    color: bisque;
}